// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.smartalbum-title {
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 3em;
}

.between {
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.glyphicon-large {
  font-size: 7em;
}

#add-photo-button {
  margin-top: 2em; 
}