
<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<p>
  <strong>Store:</strong>
  
  <% if @image.store? %>
    <%= image_tag @image.store_url(:normal) if @image.store? %>
  <% else %>
    <img src="holder.js/400x200">
  <% end %>  
</p>

<%= link_to 'Edit', edit_user_image_path(current_user, @image) %> |
<%= link_to 'Back', user_images_path(current_user) %>
